*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin: 30px;
    background: rgb(12,13,22);
background: radial-gradient(circle, rgba(12,13,22,1) 0%, rgba(3,11,20,1) 100%);

}
main{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 18%;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18%;
}
.image-container{
    display: flex;
}
.image-container img{
    width: 100% ;
}
article{
    padding: 2%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
